/******************************************
*  Author : Esten Grove   
*  Created On : Sat Feb 16 2019
*  File : styles.css
*******************************************/
:root {
    font-size: calc(1vw + 1vh + .5vmin);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #222;
}

html {
    font-size: 62.5%;
}

.header-wrapper,
.main-wrapper {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #d20068;
}

.typewriter {
    color: #e84855;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #5cbcea;
    animation: typing 3.5s steps(30, end), blinking .5s step-end infinite;
}

.typewriter-repeating {
    color: #e84855;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #5cbcea;
    animation: repeatTyping 5s steps(30, end);
}

.startTyping {
    animation: repeatTyping 5s steps(30, end),
}

.startBlinking {
    animation: repeatBlinking 1s step-end infinite;
}

.repeatTyping {
    animation: repeatTyping 5s steps(30, end);
}


/* -- One-time Typewriter Effect -- */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinking {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #5cbcea;
    }
}

/* -- Repeating Typewriter Effect -- */
@keyframes repeatTyping {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    63% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes repeatBlinking {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #5cbcea;
    }
}